stages:
  - build

build:
  image: pksadiq/gtk:fedora-bijiben
  stage: build
  variables:
    CCACHE_BASEDIR: "${CI_PROJECT_DIR}"
    CCACHE_DIR: "${CCACHE_BASEDIR}/_ccache"
    MESON_ARGS: "--buildtype=debugoptimized"
  script:
    - git submodule update --init --recursive
    - meson ${MESON_ARGS} _build
    - ccache --zero-stats
    - ninja -C _build
    - ccache --show-stats
  cache:
    key: ci-build
    paths:
      - _ccache/
