body {
  margin-top:      -2em;
  margin-left:      0;
  margin-right:     2em;
  margin-bottom:    8em;
  word-wrap:        break-word;

  color:            black;
  background-size:  2.0em 2.0em;
  line-height:      1.5em;
  padding:          2.0em;
}

body:first-line {
  font-weight:      bold;
}

ul {
  list-style-position:inside;
  margin-top :      0;
  margin-bottom:    0;
  padding:          0 0 0 .75em;
}

ol {
  list-style-position:inside;
  margin-top :      0;
  margin-bottom:    0;
  padding:          0 0 0 .75em;
}

body > div > div {
  margin:           0.75em 0;
}
