body {
  max-width:        35.0em;
  margin:           -1em auto;
  word-wrap:        break-word;
  color:            black;
  line-height:      1.5em;
  padding:          2.0em;
  font-size:        150%;
  unicode-bidi:     plaintext;
}

div {
  margin:           0.75em 0;
  unicode-bidi:     plaintext;
}

ul {
  list-style-position:inside;
  margin-top :      0;
  margin-bottom:    0;
  padding:          0 0 0 .75em;
}

ol {
  list-style-position:inside;
  margin-top :      0;
  margin-bottom:    0;
  padding:          0 0 0 .75em;
}

